<!DOCTYPE html>
<html>
<div align="center" id="container">
	<h1>Add Tweet</h1>
	<form id="tweets" action="{{ url_for('handle_tweet') }}" method='post'>
		<textarea name="tweet_content" rows="10" columns="30"></textarea><br>
		<select name="tweet_poster" form="tweets">
			{% for country in country_list %}
			<option value="{{ country }}">{{ country }}</option>
			{% endfor %}
		</select>
		<input type="submit">
	</form>
	<h1>Add Speaker</h1>
	<form id="gsl_add" action="{{ url_for('handle_gsl_addition') }}" method='post'>
		<input type="text" name="speaker">
		<input type="submit">
	</form>
	<h1>Remove Speaker</h1>
	<form id="gsl_remove" action="{{ url_for('handle_gsl_removal') }}" method='post'>
		<select name="speaker_removed" form="gsl_remove">
			{% for speaker in speakers_list %}
			<option value="{{ speaker }}">{{ speaker }}</option>
			{% endfor %}
		</select>
		<input type="submit">
	</form>
	<h1>Add Trending Topic</h1>
	<form id="trending_add" action="{{ url_for('handle_trending_addition') }}" method='post'>
		<input type="text" name="topic">
		<input type="submit">
	</form>
	<h1>Remove Trending Topic</h1>
	<form id="trending_remove" action="{{ url_for('handle_trending_removal') }}" method='post'>
		<select name="trending_removed" form="trending_remove">
			{% for topic in topics %}
			<option value="{{ topic }}">{{ topic }}</option>
			{% endfor %}
			<input type="submit">
	</form>

	<h1>Add timer event</h1>
	<form id="timer-add" action="{{ url_for('handle_timer') }}" method='post'>
		<input type="text" name="timer_time"> m <br>

		<select name="event" form="timer-add">
			{% for event in events %}
			<option value="{{ event }}">{{ event }}</option>
			{% endfor %}
		</select>
		<input type="submit">
	</form>
	<h1>Remove Timer event</h1>
	<form id="timer-remove" action="{{ url_for('handle_timer_removal') }}" method='post'>
		<button type="submit">REMOVE TIMER</button>
	</form>
</div>
</html>