<!DOCTYPE html>
<html>
<head>
<title>Modify GSL</title>
</head>
<body>
	<h1> GSL </h1>

	<div class='flex-container-gsl'>
		<form id="gsl_list" action="{{ url_for('modify_gsl') }}" method='post'>
		<ol>
		{% for gsl_item in gsl %}
		<li>
		<div>
			<div class="gsl_flex_container">
					<div>{{ gsl_item }}</div>
					<div>
						<select name="country" form="gsl_list">
							{% for country in country_list %}
							<option {% if country == gsl_item %} selected {% endif %} value="{{ country }}">{{ country }}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<button type='submit' name='remove' value='{{ gsl_item }}'>Remove {{ gsl_item }}</button>
					</div>
			</div>
		</div>
		</li>
		{% endfor %}
		</ol>
	</div>

	<br><br><br>
		<button type="submit" name='modify'>MODIFY LIST</button>
	</form>

	<br><br><br><br>
	<form id="add_speaker" action="{{ url_for('modify_gsl') }}" method='post'>
		<select name='countries_list_add' form='add_speaker'>
			<option disabled selected>None</option>
			{% for country in country_list %}
			<option value="{{ country }}">{{ country }}</option>
			{% endfor %}
		</select>
		<button type='submit' name='add'>Add Speaker</button>
	</form>


</body>
</html>